* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: gray;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkgray;
  padding: 0 0.75rem;
  height: 70px;
}
#navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
#navbar ul li a {
  padding: 0.5rem;
}
#navbar ul li a:hover {
  border-radius: 4px;
  background: rgb(95, 1, 1);
}
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-bottom: 1px solid grey;
}
#home img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}
#home .name h2 {
  margin-bottom: 0.75rem;
}
#home .name p {
  opacity: 0.9;
  font-style: inherit;
}
#training {
  color: #fff;
  padding: 1rem;
}
#training .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#training .items .item {
  width: 50%;
  text-align: center;
  padding: 0.5rem;
}
#training .items .item:hover {
  color: red;
  opacity: 0.6;
}
#info {
  color: #333;
  padding: 1rem;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.info .info2 {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.info .info2 .info2-image {
  margin-right: 0.5rem;
  position: relative;
}
.info .info2 .info2-image img {
  border-radius: 5px;
}
#contact {
  color: #fff;
  padding: 1rem;
}
#contact .contact-form {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
#contact .contact-form ul {
  list-style-type: none;
  display: flex;
  margin-top: 1rem;
  align-self: center;
}
#contact .contact-form ul li a {
  padding: 1rem;
  font-size: 2rem;
}
#contact .contact-form ul li a:hover {
  opacity: 0.8;
}
.text-center {
  text-align: center;
}
.navbar-logo-header {
  font-size: 1.25rem;
}
.heading-medium {
  font-size: 1.5rem;
}
.heading-big {
  font-size: 1.75rem;
}
.header-navbar {
  background: black;
}
.bg-light-blue {
  background: #336ea2;
}
.bg-light {
  background: #fff;
}
.btn {
  margin-top: 1.25rem;
  padding: 0.8rem 3rem;
  border-radius: 7px;
  letter-spacing: 0.5px;
}
.btn-primary {
  background: black;
  font-size: 1.25rem;
}
.btn-primary:hover {
  color: rgb(95, 1, 1);
  background: #fff;
  border: 1px solid rgb(95, 1, 1);
}
.btn-dark {
  background: #333;
}
.btn-dark:hover {
  color: #333;
  background: #fff;
  border: 0.5px solid #333;
}
.btn-block {
  width: 100%;
  text-align: center;
}
.form-group {
  padding: 0.25rem 0;
}
.form-group label {
  display: block;
}
.form-control {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  resize: none;
  border-radius: 5px;
}
.div-container {
  max-width: 1100px;
  margin: 0 auto;
}
